[Desktop Entry]
Encoding=UTF-8
Name=Link to Unwanted timeout of ROS services , using as calling a service in a another service. - MATLAB Answers - MATLAB Central
Type=Link
URL=https://www.mathworks.com/matlabcentral/answers/514639-unwanted-timeout-of-ros-services-using-as-calling-a-service-in-a-another-service
Icon=text-html
Name[en_US]=FIX SERVICE SERVER TIMEOUT
